<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

				<!-- Load Properties File-->
			
				
				<context:property-placeholder location="classpath:sport.properties"/>

   					 <!-- Define your beans here -->   					 
    
     <!-- Define dependency bean -->
     <bean
     	id="fortune"
     	class="com.springdemo.HappyFortuneService">
     </bean>
     
     <!-- Constructor Injection -->
   	<bean
    	id ="coach"
    	class="com.springdemo.TrackCoach">
    	<!-- setup constructor injection -->
    	<constructor-arg ref="fortune"/>
    </bean>
    
    <!-- Setter injection -->
    <bean 
    	id="cricketCoach" 
    	class="com.springdemo.CricketCoach">
    	<!-- setup setter injection -->
    	
    	<!-- NB: The name parameter must macth the name 
    	of the setter method "setFortuneService"  -->
    	
    	<property name="fortuneService" ref="fortune"/>
    	
    	<!-- NB: value is used for literal values 
    	and ref is used for reference to configured objects or dependencies -->
   	
   			<!-- configuring literal values by hard coding -->
   
   	<!-- 
   		<property name="email" value="patrickojunde@gmail.com"/>
   		<property name= "team" value="Team Phoenix"/>
   	 -->
   		
   		<!-- configuring literal values with  property files -->
   		<property name="email" value="${foo.email}"/>
   		<property name= "team" value="${foo.team}"/>
    </bean>    
    
    
</beans>





